<%= form_with model: warehouse do |form| %>
    <div>
        <%= form.label :name %>* <br>
        <%= form.text_field :name %> <br>
        <% warehouse.errors.full_messages_for(:name).each do |message| %>

        <div><%= message %></div>
        <% end %>

    </div>

    <br>
    <div>
        <%= form.label :location %>* <br>
        <%= form.text_field :location %> <br>
        <% warehouse.errors.full_messages_for(:location).each do |message| %>

        <div><%= message %></div>
        <% end %>

    </div>
 

    <br>
    <div>
        <%= form.submit :Save %>
  </div>

<% end %>
    <% if flash[:errors] %>
        <ul>
        <% flash[:errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
        </ul>

    <% end %>

    <br>
    <br>
    <button type="">
        <a href="<%= root_url %>">
            Back to Index Page
        </a>
    </button>